<footer>
<div class="note">
  <small>Does not include special events that require a special events ticket (yet).</small>
</div>
<div class="createdBy">
  <small>Made with &#10084; by <%= link_to "One Broke B", 'http://www.britneywright.com' %></small>
</div>
</footer>
